* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
}

button, .btn {
    cursor: pointer;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.none {
    display: none;
}

.form>* {
    width: 200px;
    margin-bottom: 5px;
    padding: 2px;
}

.display {
    &__card {
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        &__change {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__change > * {
            margin: 5px 0;
        }
    }

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    img {
        width: 50px;
        aspect-ratio: 1/1;
    }
    i {
        cursor: pointer;
    }
}
