@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5E7;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        background-color: #EDDBC7;
        margin-bottom: 20px;
    
        img {
            width: 50px;
            aspect-ratio: 1/1;
        }
    
        i {
            cursor: pointer;
        }
    }
   
}

.menu{
    margin: auto;
    width: 80%;
    height: 1000px;
    // border: solid 2px rgb(218, 9, 9);
    border-radius: 20px;

    &__meal{
        margin: auto;
        height: 170px;
        width: 100%;
        border: solid 2px black;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;

        &__img{
            width:15%;
            height:100%;
            border-radius: 20px;

            img{
            width:100%;
            height:100%;
            border-radius: 20px;
            }
        }

        &__details{
            width:75%;
            height:170px;
            // border: solid 1px rgb(237, 77, 45);
        
            &__name{
                width:25%;
                height: 30%;
                font-weight:bold;
                font-size: xx-large;
                // border: solid 1px rgb(30, 218, 9);
                padding-top: 15px;
                padding-left: 10px;
            }

            &__detailsWrapper{
                width: 100%;
                height: 70%;
                display: flex;
                // border: solid 1px rgb(93, 9, 218);

                &__description{
                    width: 90%;
                    height: 70%;
                    font-size: large;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    // border: solid 1px rgb(93, 9, 218);
                    padding-top: 40px;
                    padding-left: 15px;
                    
                }
    
                &__price{
                    width:10% ;
                    height: 100%;
                    // border: solid 1px rgb(93, 9, 218);
                    font-size:x-large;
                    font-weight:bold;
                    display: flex;
                    justify-content: center;
                    // align-items: center;
                    padding-top: 30px;
                
                }
            }
        }

        &__btnAdd{
            width:10%;
            height:100%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            

            button{
                width: 90px;
                height: 40px;
                border-radius: 10px;
                font-size: large;
                background-color:white;
                border-color: rgba(0, 0, 0, 0.579);
                font-weight: bold;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 55px;
            }

        }
    
    }

}