@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9F5E7;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px;
        background-color: #EDDBC7;
        margin-bottom: 20px;
    
        img {
            width: 50px;
            aspect-ratio: 1/1;
        }
    
        i {
            cursor: pointer;
        }
    }
   
}

.orders{
    margin: auto;
    width: 700px;
    height: 1000px;
    border: solid 2px rgb(218, 9, 9);
    border-radius: 20px;

    &__products{
        margin: auto;
        height: 150px;
        width: 100%;
        border: solid 2px black;
        border-radius: 20px;
        display: flex;
        

        &__img{
            width: 400px;
            height:100%;
           
            border: solid 2px rgb(12, 218, 9);

            img{
            width:100%;
            height:100%;
            border-radius: 20px;
            }
        }

        &__name{
            width: 40%;
            height:100%;
            font-size: x-large;
            font-weight: bolder;
            padding-top: 50px;
            margin-left: 15px;
            border: solid 2px rgb(12, 218, 9);
        }

        &__price{
            width:15%;
            height:100%;
            font-size: x-large;
            font-weight: bolder;
            padding-top: 50px;
            margin-left: 15px;
            
            border: solid 2px rgb(12, 218, 9);
        
        }

        &__amount{
            width:15%;
            height:100%;
            font-size: x-large;
            font-weight: bolder;
            padding-top: 50px;
            margin-left: 15px;
        
            border: solid 2px rgb(79, 218, 9);
        }

        &__wrapperBtn{
            width:50%;
            height:100%;
            padding-left: 100px;
            padding-top: 20px;
            

            &__btnAdd{
                width:30%;
                height: 30%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px black;
                
        
                button{
                    width: 90px;
                    height: 40px;
                    border-radius: 10px;
                    font-size: large;
                    background-color:white;
                    border-color: rgba(0, 0, 0, 0.579);
                    font-weight: bold;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    margin-top: 55px;
                   
                }
        
            }
        
            &__btnRemove{
                width:30%;
                height: 30%;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: solid 2px black;
                
        
                button{
                    width: 90px;
                    height: 40px;
                    border-radius: 10px;
                    font-size: large;
                    background-color:white;
                    border-color: rgba(0, 0, 0, 0.579);
                    font-weight: bold;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    margin-top: 55px;
                }
        
            }

        }


    }

   
}

